/.texpadtmp/
/bormetti_presentazione.pdf
/bormetti_presentazione.dvi
/bormetti_presentazione.ps
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
/_minted-misuraca_presentazione/
*.dvi
*.ps
/misuraca_presentazione.pdf
/_minted-presentation/
/presentation.pdf
*.synctex(busy)
